<div class="c-players">
  <div class="c-players--header">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Pesquise</mat-label>
        <input
          type="text"
          placeholder="Pick one"
          aria-label="Number"
          matInput
          [formControl]="myControl"
          [matAutocomplete]="auto"
          (window:click)="search()"
        />
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" >
          @for (option of $playersService | async; track option) {
          <mat-option [value]="option.name" >{{ option.name }}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <mat-icon
      class="c-players--profile"
      aria-hidden="false"
      aria-label="add"
      fontIcon="add"
      (click)="onAdd()"
    ></mat-icon>
  </div>
  <div *ngIf="!filteredPeople.length">
    <ngx-skeleton-loader count="5" appearance="line"  [theme]="{height: '70px'}" />
  </div>
  <div class="c-players__card__content--card" *ngFor="let player of filteredPeople">
    <mat-card class="c-players__card" appearance="outlined">
      <mat-card-content class="c-players__card__content">
        <div class="c-players__card__content__circle">
          <img
            [src]="player.image"
            class="c-players__card__content__circle--img"
          />
        </div>

        <div class="c-players__card__content__detail">
          <span class="c-players__card__content__detail--name">{{
            player.name
          }}</span>
          <div class="c-players__card__content__detail__actions">
            <mat-icon
              class="c-players__card__content__detail__actions--edit"
              aria-hidden="false"
              aria-label="add"
              fontIcon="edit"
              (click)="onEdit(player)"
            ></mat-icon>
            <mat-icon
              class="c-players__card__content__detail__actions--delete"
              aria-hidden="false"
              aria-label="delete"
              fontIcon="delete"
              (click)="onDelete(player)"
            ></mat-icon>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
