<div class="c-container">
  <div class="c-container__card" [ngClass]="setClass">
    <form
      class="c-container__card__form"
      #simulationNgForm="ngForm"
      [formGroup]="matchupForm"
    >
      <div class="c-container__card__form__player">
        <input
          class="c-container__card__form--input"
          type="number"
          formControlName="result1"
        />
        {{ item.player1.name }}
      </div>
      <div class="c-container__card__form__player">
        {{ item.player2.name }}
        <input
          class="c-container__card__form--input"
          type="number"
          formControlName="result2"
        />
      </div>
      <button
        mat-button
        class="c-container__card__form--button"
        (click)="onSave(item, matchupForm.getRawValue())"
      >
        Salvar
      </button>
    </form>
  </div>
</div>
