<div class="c-container" *ngIf="($matchupsService | async) as matchups">
  <div
    class="c-container__card"
    *ngFor="let item of matchups; let i = index"
    [ngClass]="lineClass(i)"
  >
    <form #simulationNgForm="ngForm" [formGroup]="matchupForm">
      <div class="c-container__card__player1">
        <input
          class="c-container__card--input"
          type="number"
          formControlName="result1"
        />
        <mat-card appearance="outlined">
          <mat-card-content>{{ item.player1.name }} </mat-card-content>
        </mat-card>
      </div>
      <span>X</span>
      <div class="c-container__card__player2">
        <mat-card appearance="outlined">
          <mat-card-content>{{ item.player2.name }} </mat-card-content>
        </mat-card>
        <input
          class="c-container__card--input"
          type="number"
          formControlName="result2"
          [ngModel]="item.player2.value"
        />
      </div>

      <button mat-button (click)="onSave(item, matchupForm.getRawValue())">
        Salvar
      </button>
    </form>
  </div>
</div>
